# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bece819eef726cf7cbac82dfcb2d4ab18323a87d16cfacea1039ba806138f394deafbe22159b91c1cbca08c8818dbfeacb60e9ec059f28e5d3e499261831ce42

test:
  secret_key_base: 9b46503aa664b537f3816e01458db4b1de39d696a2f724f4ffb75b31ff09379afd35cbabc49a07025a34af62437eaa6a5519adfb449182fd928c506f825e5cbc

# Do not keep staging secrets in the repository,
# instead read values from the environment.
staging:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
