@import 'activeadmin_addons/all';

@import 'active_admin/active_admin_globalize';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Change the sidebar place
@import "active_admin_sidebar";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$skinActiveColor: #4A422C;
$skinHeaderBck: #317a4b;
$panelHeaderBck: #317a4b;

$skinLogo: image_url("logo.svg") no-repeat 0 0;
@import "active_skin";

@import "new_menu";
@import "helpers";
@import "editor";

// .ActiveAdmin Add-ons
// ..Colors to enums

// Observations
$created-color: #c5e3ed;
$ready-for-qc-color: #08a1cc;
$qc-in-progress-color: #112ead;
$needs-revision-color: #8a333a;
$ready-for-publication-color: #7eb378;
$published-no-comments-color: #0b6301;
$published-not-modified-color: #77801b;
$published-modified-color: #256103;

// Documents
$pending-color: #FF9900;
$rejected-color: #FF0000;
$approved-color: #08A510;
$expired-color: #772222;
$not-required-color: #AA8888;
$to-be-reviewed: #99AA99;

.status_tag {
  &.under_revision { background: $pending-color; }
  &.rejected { background: $rejected-color; }
  &.approved { background: $approved-color; }
  &.doc_pending { background: $pending-color; }
  &.doc_invalid { background: $rejected-color; }
  &.doc_valid { background: $approved-color; }
  &.doc_expired { background: $expired-color; }
  &.doc_not_required { background: $not-required-color; }
  &.ready_for_revision { background: $to-be-reviewed; }

  // Observations
  &.created { background: $created-color; }
  &.ready_for_qc { background: $ready-for-qc-color; }
  &.qc_in_progress { background: $qc-in-progress-color; }
  &.needs_revision { background: $needs-revision-color; }
  &.ready_for_publication { background: $ready-for-publication-color; }
  &.published\(no_comments\) { background: $published-no-comments-color; }
  &.published\(not_modified\) { background: $published-not-modified-color; }
  &.published\(modified\) { background: $published_modified-color; }

}

.button {
  @include no-shadow();
  @include rounded(0);
  background: $skinActiveColor;
  color: #fff;
  border: none;
  text-shadow: none;
  padding: 10px 20px;

  &:hover {
    background: lighten( $skinActiveColor, 10% ) !important;
  }
}

// To increase the width of observations-details
.col-details {
  min-width: 500px;
}

// Deploy buttons
form input.deploy-button {
  font-size: 1.5em;
  width: 100%;
  box-sizing: border-box;
}

.form-control-checkbox {
  margin: 0 0 5px;

  label {
    margin: 0 0 0 4px;
  }
}

.index_as_table {
  font-size: 12px !important;
}

body.active_admin {
  #hidden_active_admin_goto_page {
    width: 100%;
    box-sizing: border-box;
  }

  #sidebar {
    .filter_numeric_range {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      label {
        width: 100%;
      }

      input {
        width: 36%;
      }
      .separator {
        display: inline-block;
        text-align: center;
        width: 12px;
      }
    }
  }

  .visible-column {
    display: inline-block;
    margin-right: 15px;
    input {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .breadcrumb {
    font-size: 1.1em;
  }

  .form-input-hint {
    font-size: 0.95em;
    font-style: italic;
    color: #666;
    margin: 0.5em 0 0 20%;
  }
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  display: none;
}


// fixing layout issues https://github.com/activeadmin/activeadmin/issues/7667
body.active_admin {
  *,
  *:before,
  *:after {
    box-sizing: unset;
  }
}

// trying to revert this https://github.com/activeadmin/activeadmin/commit/7dd9bc89716603ba602985baf720c7d4623fbe07
#title_bar {
  box-sizing: border-box;
}

.filter_date_range {
  input[type=text] {
    box-sizing: border-box;
  }
}

.ui-datepicker-header {
  width: 147px !important;
}

.xdsoft_datetimepicker * {
  box-sizing: border-box !important;
}

// Dependent filters
#dependent_filters_sidebar_section {
  visibility: hidden;
}

