//= require activeadmin_addons/all


// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Change the sidebar place
@import "active_admin_sidebar";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$skinActiveColor: #4A422C;
$skinHeaderBck: #317a4b;
$panelHeaderBck: #317a4b;

$skinLogo: image_url("logo.svg") no-repeat 0 0;
@import "active_skin";


// .ActiveAdmin Add-ons
// ..Colors to enums

$pending-color: #FF9900;
$rejected-color: #FF0000;
$approved-color: #08A510;
$expired-color: #772222;
$not-required-color: #AA8888;

.status_tag {
  &.under_revision { background: $pending-color; }
  &.rejected { background: $rejected-color; }
  &.approved { background: $approved-color; }
  &.doc_pending { background: $pending-color; }
  &.doc_invalid { background: $rejected-color; }
  &.doc_valid { background: $approved-color; }
  &.doc_expired { background: $expired-color; }
  &.doc_not_required { background: $not-required-color; }
}

// To increase the width of observations-details
.col-details {
  min-width: 500px;
}

// Deploy buttons
form input.deploy-button {
  font-size: 1.5em;
  width: 100%;
}

.form-control-checkbox {
  margin: 0 0 5px;

  label {
    margin: 0 0 0 4px;
  }
}